:root{
    --aceBlue: #f1f6fa;
    --mainColor: #2b2d8a;
    --tecno-green: #00ffc8;
    --omoBlue:#babaf8;
    --marginGreen:#8DC63F;
    --whiteMan:#ffffff;
    --bloody: #f11414;
 }
 

*,*::after,*::before{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 150%;
    font-size: 100%;
    color:var(--mainColor);
    background-color:var(--aceBlue);
}


header, footer{
    text-align: center;
}
header h1{
    font-size: xx-large;
    font-weight: 900;
}
#Container1{
    display: flex;
    justify-content: flex-end;
 }

#timer{
    color: blue;
}

li{
    width: 100%;
    background: var(--marginGreen);
    border-color: var(--marginGreen);
    color: var(--whiteMan);
    padding: 1rem;
    border-radius: .5rem;
    margin-top: 1rem;
    text-align: center;
    transition: all 0.3s ease 0s;
 }
 li:hover{
    background: none;
    border-color: var(--whiteMan);
    text-decoration: none;
    color: var(--mainColor);
 }

 li{
    list-style-type: none;
    padding-left: 1rem;
 }

 #playGround{
  width: 100%;
 }
 #playGround #questions{
    text-align: center;
    font-size: x-large;
 }
#answersGround{
    width: 60%;
    /* border: .2rem solid var(--mainColor); */
    margin: 0 auto;
    padding: 0rem 2rem 2rem 2rem;
}

.answers{
    width: 50%;
    margin: 0 auto;
    padding: 1rem;
}